.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.c-bar:hover {
  opacity: 1;
}
.c-bar {
  background-color: #ffffff;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 10px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
}

 .pp {
    text-decoration:none;
    color:rgb(64, 164, 49);
 }
 
 .pp:hover{
    background-color:rgb(220, 220, 220);
 }

 .heart {
  width: 39px;
  height: 40px;
  background: rgb(246, 246, 246);
  transition: width 1s;
  box-shadow: 1px 1px 2px 2px rgb(191, 205, 0);
}
.heart:hover {
  width: 65px;
}
.heart {
  transition: width 0.5s, height 0.5s;
}
.btn-2:hover {
  box-shadow: 0 12px 16px 0 rgb(255, 255, 255), 0 17px 50px 0 rgb(255, 255, 255);
}

.b-1 {
  border-radius: 0px 0px 30px 5px;
  background: #000000;
  padding: 1px;
}



.sm{
  cursor: zoom-in;
}
.sm {
  /* padding: 10px; */
  /* background-color: rgb(132, 132, 132); */
  transition: transform .2s; /* Animation */
  width: 200px;
  height: 150px;
  margin: 0 auto;
}

.sm:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.bcd {
  /* width: 100px;
  height: 100px; */
  background-color: rgb(247, 247, 247);
  color: rgb(255, 0, 0);
  animation: mymove 5s infinite;
}
@keyframes mymove {
  50% {box-shadow: 0px 0px 10px 10px rgb(163, 163, 167);}
}

body, html {
  height: 100%;
}

.sb {
  /* The image used */
  background-image: url("bg.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.border1{
  width: 10px;
  height: 214px;
  padding: px;
  margin: px;
}


.s-b {
  padding: 14px 40px;
  background-color: #28681a;
}
.s-b {
  /* padding: 10px; */
  /* background-color: rgb(132, 132, 132); */
  transition: transform .2s; /* Animation */
  width: 100px;
  height: 40px;
  margin: 0 auto;
}
.s-b:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}


.hrt{
  cursor: zoom-in;
}
.hrt {
  /* padding: 10px; */
  /* background-color: rgb(132, 132, 132); */
  transition: transform .2s; /* Animation */
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.hrt:hover {
  transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.div1:hover {
  color: red;
}

.h-h {
  color: red;
}
.h-h:hover {
  transform: scale(1.1);
}

.h-h {
  padding: 0px;
  transition: transform .2s; /* Animation */
  width: 20px;
  height: 20px;
  margin: 0 auto;
}

.h-h1{
  position: relative;
  width: 76px;
  height: 30px;
  font-size: 12px;
  background-color: #243120;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: width .5s;
  border-radius: .5s;
}

.h-h1 *{
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-29%, -27%);
  transition: opacity .25s;
}
.icon {
  opacity: 0;
}
.h-h1:focus{
   width: 30px;
   background-color: #0fce7b;
   border-radius: 50%;
}
.h-h1:focus .text{
  opacity: 0;
}
.h-h1:focus .icon{
  opacity: 1;
  transition-delay: .1s;
}

.cty{
  box-sizing: 20px;
  width: 190px;
  height: 29px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.bgt{
  box-sizing: 20px;
  width: 190px;
  height: 29px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.typ{
  box-sizing: 20px;
  width: 190px;
  height: 29px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

.prt{
  box-sizing: 20px;
  width: 190px;
  height: 29px;
  border: 1px solid rgb(0, 0, 0);
  margin-right: 50px;
  border-radius: 5px;
}